<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/todo/list.html</title>
</head>
<body>
	<div class="container">
		<h1>할일 목록</h1>
		<a th:href="@{/todo/new}">할일 추가</a>
		<table class="table table-bordered">
			<thead class="table-dark">
				<tr>
					<th>번호</th>
					<th>할일</th>
					<th>날짜</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "tmp : ${list}">
					<td>[[${tmp.id}]]</td>
					<td>[[${tmp.content}]]</td>
					<td th:text="${tmp.regdate}"></td>
					<td>
						<a th:href="@{/todo/edit(id=${tmp.id})}">수정</a>
					</td>
					<td>
						<a th:href="@{/todo/delete(id=${tmp.id})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>